<h1>Profile Spolight</h1>

<b>User Name:</b>
<%= @profile.name %>
<br>

<br>
<b>Email:</b>
<%= current_user.email %>
<br>

<br>
<b>Image:</b>
<%= @profile.image %>
<br>

<br>
<b>Bio:</b>
<p><%= @profile.bio %></p>
<br>

<br>
<b>Website:</b>
<%= @profile.website %>
<br>

<div id="nav">
<b><%= link_to "Edit Profile", edit_user_profile_path %></b> |
<b><%= link_to "Edit User", edit_user_path(current_user.id) %></b> |
</div>



