<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search" %>
<% end %>	

<div id="products">
	<% @products.each do |product|%>
		<%= link_to product_path(product.id) do %>
		<h2>
		<%= number_to_currency(product.formatted_price) %>
		<%= product.name %>
		</h2>
		<% end %>
		<p><%= truncate(product.description, length: 100) %></p>
	<% end %>
</div>

