<h1>Rainforest Products</h1>

<b><%= link_to "New Product", new_product_path %></b>

<table>
	<tr>
		<b><th>Product Name:</th></b>
		<b><th>Description:</th></b>
		<b><th>Price(in cents):</th></b>
	</tr>

	<% @products.each do |product|%>
	<tr>
		<td><%= product.name %></td>
		<td><%= product.description %></td>
		<td><%= product.price_in_cents %></td>
		<td><%= link_to 'Show', product_path(product) %></td>
		<td><%= link_to 'Edit', edit_product_path(product) %></td>
		<td><%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: "Are you sure"} %></td>

	</tr>
	<% end %>

</table>
