<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search" %>
<% end %>	

<p id="products-count"><%= page_entries_info @products %></p>
<!-- appears before your list of products and tells you the number of products (out of total products) displayed on each page -->

<div id="products">
	<%= render @products %>
</div>

<div id="products-pagination"><%= paginate @products %></div>
<!-- creates links on the products index page to go to next page (kaminari view helpers) -->