<h1>Product Page</h1>

<p>
	<b>Product Name:</b>
	<%= @product.name %>
</p>

<p>
	<b>Description:</b>
	<%= @product.description %>
</p>

<p>
	<b>Price:</b>
	<%= @product.price_in_cents %>
</p>


<b><%= link_to "Edit Product", edit_product_path(@product) %></b>
<b><%= link_to "Back", products_path %></b>