<!DOCTYPE html>
<html>
	<head>
	  <title>Rainforest</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

	<% if current_user %>
		<b><%= link_to "Edit User", edit_user_path(current_user.id) %></b> |
		<b><%= link_to "Log out", session_path("current"), :method => :delete %></b>
	<% else %>
		<b><%= link_to "Log in", new_session_path %></b> | 
		<b><%= link_to "Sign up", new_user_path %></b>	|
	<% end %>	

	<p class="userinfo">
		<% if current_user %>
			<!-- <h3>Signed in as <%= link_to current_user.name, user_path(current_user.id) %></h3> -->
			<h3>Signed in as <%= link_to current_user.name, user_path(current_user.id) %></h3> 	
		<% end %>
	</p>		

	
		<div class="nav">
		<h1><%= link_to 'Rainforest', root_url %></h1>

			<% if flash[:notice] %>
				<p id="notice"><%= flash[:notice] %></p>
			<% end %>	
			<% if flash[:alert] %>
				<p id="alert"><%= flash[:alert] %></p>
			<% end %>	
		</div>	

		<%= yield %>

			

	</body>
</html>
